#(project
   #(meta (
     #(name lowauth)
     #(description "An LFE OAuth Client Library")
     #(version "0.1.0")
     #(keywords ("LFE" "Lisp" "Library" "Authentication" "Client" "OAuth"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "oubiwann/lowauth"))))))

#(logging (
   #(log-level debug)
   #(colored true)
   #(colors (#(timestamp (color green))
             #(process (color cyan))
             #(date (color green))
             #(time (color green))
             #(modfunc (color yellow))
             #(message (color green))
             #(debug (color greenb))
             #(info (color blue))
             #(notice (color cyan))
             #(warning (color yellow))
             #(error (color red))
             #(critical (color yellowb))
             #(alert (color magentab))
             #(emergency (color redb))))
   #(backend lager)
   #(options (#(lager_console_backend (
                debug
                #(logjam-formatter
                  (date " " time " [" pid "] [" severity "] " message "\n"))))))))
